%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
      %th Started at
      %th Finished at
      %th Duration
      %th Project
  %tbody.pomodoros
    - pomodoros.each do |pomodoro|
      = render pomodoro
