.jumbotron
  .container
    %h1 Beautiful stats for your pomodoros

    %p TomatoStats takes care of your pomodoros and display stats in a beautiful way!
    %p Sign in, import some pomodoros and check out the stats!
