= sidebar title: "Projects" do
  %ul.nav.nav-pills.nav-stacked
    -# %li.nav-header Projects
    - projects.each do |project|
      %li= link_to project, project
  = link_to "Add project", new_project_path, class: 'btn btn-default pull-right'
