.panel.panel-default
  .panel-heading
    %h1.panel-title Projects
  .panel-body
    %div.projects.list-group.col-md-5
      - projects.each do |project|
        = link_to project, class: 'list-group-item' do
          = project.name
          .badge= pluralize(project.pomodoros.size, "pomodoro") if project.pomodoros.any?
