.panel.panel-default
  .panel-heading
    %h1.panel-title= project.name
  .panel-body
    .btn-group
      = link_to "Edit", edit_project_path(project), class: 'btn btn-primary'
      = link_to "Delete", project, method: :delete, class: 'btn btn-warning', data: { confirm: "Are you sure?" }
