.panel.panel-default
  .panel-heading
    %h1.panel-title= project.name
  .panel-body
    .btn-group
      = link_to glyph(:pencil) + "Edit", edit_project_path(project), class: 'btn btn-default'
      = link_to glyph(:remove) + "Delete", project, method: :delete, class: 'btn btn-default', data: { confirm: "Are you sure?" }
